.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 450px;
    height: 350px;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-family: poppins, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--card-background);
    color: var(--txt-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.card h1{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 2px;
    font-family: Optima, sans-serif;
    font-size: 52px;
    color: var(--txt-color);
    animation: headerLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}
.card .body{
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    background: transparent;
    color: var(--p-color) !important;
    transition: all 0.25s ease-in-out;
}
.body > *[style]{
    background: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
}
span{
    background: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
}
@media screen and (max-width: 1024px){
    .card{
        width: 100%;
        border-radius: 0;
        transition: all 0.25s ease-in-out;
    }
    .card h1{
        font-size: 50px;
    }
    .card p{
        font-size: 14px;
    }
}