<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Mesec Od Papira</title>
    <script type="text/javascript" src="js/fontawesome.js"></script>
    <link id="css-partial" rel="stylesheet" type="text/css" href="css/partials/admin/admin_page/_profile.css">
    <link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
    <style type="text/css">
       @font-face {
            font-family: 'poppins';
            src: url('/fonts/poppins/poppins-regular-webfont.woff'),
                url('/fonts/poppins/poppins-regular-webfont.woff2');
            font-style: normal;
            font-weight: 100;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            overflow-x: hidden;
        }
        body{
            --body-background: #fafafa;
            --nav-background: #ffffff;
            --card-background: var(--nav-background);
            --misc-background: #f5f5f5;
            --border-color: #dcdcdc;
            --txt-color: #161616;
            --p-color: #505050;
            --shadow-color: rgba(0, 0, 0, 0.20);
            position: relative;
            background: var(--body-background);
            transition: all 0.5s ease-in-out;
        }
        body.dark{
            --body-background: #161616;
            --nav-background: #000000;
            --misc-background: #101010;
            --border-color: #505050;
            --txt-color: #ffffff;
            --p-color: #fafafa;
            --shadow-color: rgba(0, 0, 0, 0.20);
        }
        a{
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .logo{
            display: block;
            min-height: 10px;
            text-align: center;
            letter-spacing: 5px;
            font-family: Chalkduster, fantasy;
            font-size: 18px;
            background: rgb(22, 22, 22);
            color: white;
            animation: navLoad 0.5s ease-in;
        }
        .logo img{
            cursor: pointer;
            margin-top: 5px;
            width: 100px;
            height: 100px;
            animation: navLoad 1s ease-in;
        }
        .logo h4{
            cursor: pointer;
        }
        nav{
            display: flex;
            position: relative;
            height: 50px;
            justify-content: space-around;
            align-items: center;
            font-family: Optima, sans-serif;
            border-bottom: 1px solid var(--border-color);
		    background: var(--card-background);
            animation: navLoad 0.5s ease-in;
        }
        .sticky{
            position: fixed;
            z-index: 10;
            top: 0;
            width: 100%;
        }
        #dark-mode-toggle{
            cursor: pointer;
            position: relative;
            top: 6px;
            font-size: 25px;
            transition: all 0.25s ease;
        }
        .links{
            display: flex;
            width: 500px;
            text-transform: uppercase;
            justify-content: space-around;
        }
        .links li{
            cursor: default;
            list-style-type: none;
            letter-spacing: 2px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            color: var(--txt-color);
        }
        .links a{
            display: block;
            text-decoration: none;
            letter-spacing: 3px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            border-bottom: 1px solid transparent;
            color: var(--txt-color);
        }
        .links a:hover{
            border-bottom: 1px solid var(--txt-color);;
        }
        .mobile{
            display: none;
            position: relative;
            left: 26%;
            cursor: pointer;
        }
        .mobile div{
            margin: 5px;
            width: 25px;
            height: 2px;
            background: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
        .input::placeholder{
            opacity: 0;
        }
        .input:focus::placeholder{
            opacity: 1;
        }
        .wrapper{
            min-height: 500px;
            content: "";
            clear: both;
			justify-content: center;
		}
        .hidden{
            position: relative;
            left: 0;
            width: 168px;
        }
        .dashboard{
            position: absolute;
            top: 184px;
            left: 0; 
            z-index: 10;
            width: 200px;
            font-family: Optima, sans-serif;
        }
        .stickyDash{
            position: fixed;
            z-index: 10;
            top: 50px;
        }
        #misc{
            background: var(--misc-background);
        }
        #misc td{
            letter-spacing: 1px;
            font-size: 11px;
            font-weight: bold;
        }
        .dashboard table{
            position: relative;
            width: 100%;
            border-collapse: collapse;
            background: var(--card-background);
            transition: all 0.5s ease-in-out;
        }
        .dashboard tr{
            width: 100%;
            border-bottom: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color);
        }
        .dashboard td{
            padding: 10px;
            width: 100%;
            text-align: left;
            font-size: 12px;
            color: var(--p-color);
        }
        .dashboard th{
            padding: 20px;
            width: 100%;
            text-align: left;
            letter-spacing: 1px;
            font-size: 13px;
            color: var(--txt-color);
        }
        .dashboard tr:hover{
            cursor: pointer;
            background: var(--border-color);
            transition: all 0.25s ease-in-out;
        }
        .dashboard i{
            margin-right: 20px;
            font-size: 20px;
        }
        .show-hide-icon{
            margin-left: 20px;
            font-size: 10px;
        }
        #misc i{
            margin-left: 30px;
        }
        .alert-box{
            position: fixed;
            z-index: 15;
            top: 10%;
            left: 50%;
            transform: translateY(-300%);
            width: 300px;
            height: 110px;
            font-family: poppins, sans-serif;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            background: var(--card-background);
            box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
            transition: all 0.5s ease-in-out;
        }
        .alert-box #title{
            position: relative;
            width: 100%;
            height: 40px;
            text-align: left;
            border-bottom: 1px solid var(--border-color);
            color: var(--p-color);
        }
        .alert-box #title p{
            position: absolute;
            top: 8px;
            left: 50%;
            transform: translateX(-50%);
            letter-spacing: 1px;
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            color: var(--p-color);
        }
        .alert-box #title i{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 20px;
        }
        .alert-box button{
            cursor: pointer;
            position: relative;
            display: inline;
            bottom: -20px;
            left: 5%;
            right: 10%;
            padding: 5px;
            margin-right: 10%;
            width: 40%;
            height: 30px;
            letter-spacing: 1px;
            font-size: 15px;
            border: none;
            border-radius: 5px;
            background: #007bf6;
            color: #ffffff;
            transition: all 0.25s ease-in-out;
        } 
        #edit-name{
            cursor: pointer;
            display: none;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            border: 1px solid var(--border-color);
            background: var(--border-color);
        }
        #edit-name i{
            position: relative;
            left: -70px;
        }
        .linear-activity{
            overflow: hidden;
        }
        .indeterminate{
            position: absolute;
            top: 182px;
            width: 100%;
            height: 1px;
        }
        .indeterminate:before{
            content: '';
            position: absolute;
            height: 100%;
            background: var(--p-color);
            animation: indeterminate_first 1.5s infinite ease-out;
        }
        .indeterminate:after{
            content: '';
            position: absolute;
            height: 100%;
            background: var(--p-color);
            animation: indeterminate_second 1.5s infinite ease-in;
        }
        .footer{
            margin-top: 100px;
            padding: 16px;
            width: 100%;
            height: 50px;
            text-align: center;
            font-family: Optima, sans-serif;
            border-top: 1px solid var(--border-color);
            background: var(--card-background);
            color: var(--p-color);
            transition: all 0.5s ease-in-out;
        }
        .footer-left{
			display: flex;
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
        .footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
        @keyframes navLoad{
            0%{
                transform: translateY(-200%);
            }
            100%{
                transform: translateY(0);
            }
        }
        @keyframes headerLoad{
            0%{
                transform: translateY(-20px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes articleLoad{
            0%{
                margin-top: 125px;
                opacity: 0;
            }
            100%{
                margin-top: 150px;
                opacity: 1;
            }
        }
        @keyframes indeterminate_first{
            0%{
                left: -100%;
                width: 100%;
            }
            100%{
                left: 100%;
                width: 10%;
            }
        }
        @keyframes indeterminate_second{
            0%{
                left: -150%;
                width: 100%;
            }
            100%{
                left: 100%;
                width: 10%;
            }
        }
        @media screen and (max-width: 1024px){
            .links{
                display: flex;
                position: absolute;
                z-index: 10;
                flex-direction: column;
                top: 49px;
                right: 0px;
                left: 50%;
                height: 500px;
                border: 1px solid var(--border-color);
                background: var(--card-background);
                transform: translateX(100%);
                transition: transform 0.5s ease-in;
            }
            .links li{
                opacity: 0;
                margin-left: 60px;
            }
            .links a{
                line-height: 0;
            }
            .links a:hover{
                border: none;
            }
            .mobile{
                display: block;
            }
            .linksActive{
                transform: translateX(0%);
            }
            .footer{
                font-size: 12px;
                height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
            }
            .footer i{
                font-size: 15px;
            }
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 300px;
    		}
        }
        @keyframes navLinkFade{
            from{
                opacity: 0;
                transform: translateX(50px);
            }
            to{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        .toggle .line1{
            transform: rotate(-45deg) translate(-5px,6px);
        }
        .toggle .line2{
            opacity: 0;
        }
        .toggle .line3{
            transform: rotate(45deg) translate(-5px,-6px);
        }
    </style>
</head>
<body<%- mode %>>
    <div class="logo">
        <img src="logo/mop.png" onclick="window.location.href = '/'">
        <h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
    </div>
	<nav>
		<ul class="links" style="width: 700px;">
			<li><a href="/admin/mejl">Mejl</a></li>
			<li><a href="/">Početna</a></li>
			<li><a href="/poezija">Poezija</a></li>
			<li><a href="/o-meni">O meni</a></li>
            <li><a href="/admin">Admin</a></li>
            <li onclick="switchMode();" style="position: absolute; right: 70px"><i class="fas fa-adjust" id="dark-mode-toggle"></i></li>
		</ul>
		<div class="mobile">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
        </div>
	</nav>
    <div class="wrapper">
        <div class="linear-activity"></div>
        <div class="alert-box">
            <div id="title">
                <p id="message"></p><i onclick="document.querySelector('.alert-box').style.transform = 'translate(-50%,-300%)'; document.cookie = '_sub = false';" class="fas fa-times"></i>
            </div>
            <button>Vidi objavu</button><button onclick="document.querySelector('.alert-box').style.transform = 'translate(-50%,-300%)';" style="background: var(--border-color); color: var(--txt-color);">Zatvori</button>
        </div>
        <div class="dashboard">
            <table>
                <tr><th id="0" onclick="load('manage-posts/_publish', 'js/partials/admin/admin_page/manage-posts/_publish.js'); selected(0);"><i class="fas fa-plus-square"></i>OBJAVI</th></tr>
                <tr><th id="1" onclick="load('manage-posts/_manage', 'js/partials/admin/admin_page/manage-posts/_manage.js'); selected(1);"><i class="fas fa-thumbtack"></i>OBJAVE</th><th id="edit-name"></th></tr>
                <tr><th id="2" class="wrench" onclick="showWrench();"><i class="fa fa-wrench" aria-hidden="true"></i>POSTAVKE<span class="show-hide-icon">&#9660;</span></th></tr>
                    <tbody id="misc" style="display: none;">
                        <tr><td id="3" onclick="load('settings/profile/_profile', 'js/partials/admin/admin_page/settings/profile/_profile.js'); selected(3);"><i class="fa fa-user" aria-hidden="true"></i>PROFIL</td></tr>
                        <tr><td id="4" onclick="load('settings/notifications/_notifications', 'js/partials/admin/admin_page/settings/notifications/_notifications.js');selected(4);"><i class="fa fa-bell" aria-hidden="true"></i>OBAVEŠTENJA</td></tr>
                        <tr><td id="5" onclick="load('settings/security/_security', 'js/partials/admin/admin_page/settings/security/_security.js');selected(5);"><i class="fa fa-lock" aria-hidden="true"></i>BEZBEDNOST</td></tr>
                    </tbody>
                </th></tr>
                <tr><th onclick="document.getElementById('logout-form').submit();"><form id="logout-form" action="/admin/odjava" method="POST"></form><i class="fa fa-sign-out" aria-hidden="true"></i>ODJAVA</th></tr>
            </table>
        </div>
        <div class="hidden"></div>
        <div class="card">
            <%- include(`../partials/admin/admin_page/${partial}`, {title: title, body: body}) %> 
        </div>
    </div>
    <div class="footer">
        <div class="footer-left">
            Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
        </div>
        <div class="footer-right">
            Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
        </div>
    </div>
    <script type="text/javascript">
        const mobile = document.querySelector('.mobile'),
        links = document.querySelector('.links'),
        navLinks = document.querySelectorAll('.links li');

        function switchMode(){
            if(document.body.classList.contains('dark')){
                document.body.classList.remove('dark');
                document.cookie = '_mode=null; path=/';
            }else{
                document.body.classList.toggle('dark');
                document.cookie = '_mode=dark; path=/';
            }
        }

        window.onscroll = function() {stickyNav()};

        const nav = document.querySelector('nav'),
        sticky = nav.offsetTop;
        
        const dash = document.querySelector('.dashboard'),
        stickyDash = dash.offsetTop;

		function stickyNav() {
		    if(window.pageYOffset >= sticky) {
                nav.classList.add('sticky');
                dash.classList.add('stickyDash');
		    }else{
                nav.classList.remove('sticky');
                dash.classList.remove('stickyDash');
		    }
		}
		const navSlide = ()=>{
		    mobile.addEventListener('click', ()=>{
		        links.classList.toggle('linksActive');
		        navLinks.forEach((link, index)=>{
		            if(link.style.animation){
		                link.style.animation = '';
		            }else{
		                link.style.animation = `navLinkFade 0.5s ease forwards ${index/5 + 0.5}s`;
		            }
		        });
		        mobile.classList.toggle('toggle');
		    });
		}
        class ScriptLoader{
            constructor(script){
                this.script = script;
                this.scriptElement = document.createElement('script');
                this.head = document.querySelector('head');
            }
            process(){
                return new Promise((resolve, reject)=>{
                    this.scriptElement.src = this.script;
                    this.scriptElement.onload = e => resolve(e);
                    this.scriptElement.onerror = e => reject(e);
                    this.head.appendChild(this.scriptElement);
                });
            }
        }
        function selected(id){
            document.getElementById(id).style.background = getComputedStyle(document.body).getPropertyValue('--border-color');
            for(let i=0; i<=5; i++){
                if(i !== id){
                    document.getElementById(i).style.background = getComputedStyle(document.body).getPropertyValue('--card-background');
                }
            }
            return;
        }
        function showWrench(){
            if(document.getElementById('misc').style.display == 'none'){
                document.getElementById('misc').style.display = '';
                document.querySelector('.wrench').innerHTML = '<i class="fa fa-wrench" aria-hidden="true"></i>POSTAVKE <span class="show-hide-icon">\u25B2</span>';
            }else{
                document.getElementById('misc').style.display = 'none';
                document.querySelector('.wrench').innerHTML = '<i class="fa fa-wrench" aria-hidden="true"></i>POSTAVKE <span class="show-hide-icon">\u25BC</span>';
            }
        }
        async function load(partial, src, id){
            const script = new ScriptLoader(src);
            script.process();

            document.querySelector('.linear-activity').innerHTML = '<div class="indeterminate"></div>';

            const options = {
		        	method: 'POST',
		        	headers: {
		        	    'Content-Type': 'application/json'
		        	},
		        	body: JSON.stringify({partial: partial, id: id})
            }
            await fetch('/admin', options).then(res => res.json()).then((res)=>{
                document.querySelector('.card').innerHTML = res.html;
                document.getElementById('css-partial').href = res.css;
                document.querySelector('.linear-activity').innerHTML = '';
            });
        }
		navSlide();
    </script>
</body>
</html>

