<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin | Mesec Od Papira</title>
	<script type="text/javascript" src="js/fontawesome.js"></script>
	<link id="css-partial" rel="stylesheet" href="css/partials/admin/auth/_login.css">
	<link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
	<style type="text/css">
        @font-face {
            font-family: 'poppins';
            src: url('/fonts/poppins/poppins-regular-webfont.woff'),
                url('/fonts/poppins/poppins-regular-webfont.woff2');
            font-style: normal;
            font-weight: 100;
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body{
            overflow-x: hidden;
        }
        body{
            --body-background: #fafafa;
            --nav-background: #ffffff;
            --card-background: var(--nav-background);
            --misc-background: #f5f5f5;
            --border-color: #dcdcdc;
            --txt-color: #161616;
            --p-color: #505050;
            --shadow-color: rgba(0, 0, 0, 0.20);
            position: relative;
            background: var(--body-background);
            transition: all 0.5s ease-in-out;
        }
        body.dark{
            --body-background: #161616;
            --nav-background: #000000;
            --misc-background: #101010;
            --border-color: #505050;
            --txt-color: #ffffff;
            --p-color: #fafafa;
            --shadow-color: rgba(0, 0, 0, 0.20);
        }
		.container{
			display: block;
			position: relative;
			padding-bottom: 250px;
			min-height: 100vh;
			overflow: hidden;
		}
        a{
            cursor: pointer;
            text-decoration: none;
            color: inherit;
        }
        a:hover{
            color: var(--txt-color);
            transition: all 0.25s ease-in-out;
        }
		.logo{
		    display: block;
		    min-height: 10px;
		    text-align: center;
		    letter-spacing: 5px;
		    font-family: Chalkduster, fantasy;
		    font-size: 18px;
		    background: rgb(22, 22, 22);
		    color: white;
		    animation: navLoad 0.5s ease-in;
		}
		.logo img{
		    cursor: pointer;
		    margin-top: 5px;
		    width: 100px;
		    height: 100px;
		    animation: navLoad 1s ease-in;
		}
		.logo h4{
		    cursor: pointer;
		}
		nav{
		    display: flex;
			position: relative;
		    height: 50px;
		    justify-content: space-around;
		    align-items: center;
		    font-family: Optima, sans-serif;
		    border-bottom: 1px solid var(--border-color);
		    background: var(--card-background);
			animation: navLoad 0.5s ease-in;
			transition: all 0.5s ease-in-out;
		}
		.links{
            display: flex;
            width: 500px;
            text-transform: uppercase;
            justify-content: space-around;
        }
        .links li{
            cursor: default;
            list-style-type: none;
            letter-spacing: 2px;
            line-height: 48px;
            font-size: 13px;
            font-weight: bold;
            color: var(--txt-color);
        }
		.sticky{
			position: fixed;
			z-index: 10;
			top: 0;
			width: 100%;
		}
		#dark-mode-toggle{
            cursor: pointer;
            position: relative;
            top: 6px;
            font-size: 25px;
            transition: all 0.25s ease;
        }
        .wrapper{
            min-height: 500px;
            content: "";
            clear: both;
			justify-content: center;
		}
		.card{
			position: relative;
			top: 0;
    		left: 50%;
    		transform: translateX(-50%);
    		padding: 20px;
			width: 450px;
			height: 400px;
    		justify-content: center;
    		text-align: center;
			line-height: 20px;
			font-family: poppins, sans-serif;
    		border: 1px solid var(--border-color);
    		border-radius: 10px;
    		background: var(--card-background);
    		color: var(--txt-color);
    		box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
    		animation: articleLoad 0.5s ease-in 0.5s;
    		animation-fill-mode: forwards;
    		opacity: 0;
            transition: all 0.5s ease-in-out;
		}
		.footer{
            position: absolute;
            bottom: 0;
            padding-top: 16px;
            width: 100%;
            height: 50px;
			text-align: center;
			font-family: Optima, sans-serif;
            border-top: 1px solid var(--border-color);
            background: var(--card-background);
			color: var(--p-color);
			transition: all 0.5s ease-in-out;
        }
        .footer-left{
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
		.footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
		@keyframes navLoad{
		    0%{
		        transform: translateY(-200%);
		    }
		    100%{
		        transform: translateY(0);
		    }
		}
		@keyframes headerLoad{
		    0%{
		        transform: translateY(-20px);
		        opacity: 0;
		    }
		    100%{
		        transform: translateY(0);
		        opacity: 1;
		    }
		}
		@keyframes articleLoad{
		    0%{
		        transform: translate(-50%, 45%);
		        opacity: 0;
		    }
		    100%{
		        transform: translate(-50%, 50%);
		        opacity: 1;
		    }
		}
		@media screen and (max-width: 1024px){
			.card{
				width: 90%;
				transition: 0.5s;
			}
            .footer{
                font-size: 12px;
                height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 200px;
            }
            .footer i{
                font-size: 15px;
            }
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 300px;
    		}
		}
		@keyframes navLinkFade{
		    from{
		        opacity: 0;
		        transform: translateX(50px);
		    }
		    to{
		        opacity: 1;
		        transform: translateX(0px);
		    }
		}
	</style>
</head>
<body<%- mode %>>
	<div class="container">
		<div class="logo">
			<img src="logo/mop.png" onclick="window.location.href = '/'">
			<h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
		</div>
		<nav>
			<ul class="links">
				<li><h3 style="color: var(--txt-color);">ADMIN</h3></li>
				<li onclick="switchMode();" style="position: absolute; right: 70px"><i class="fas fa-adjust" id="dark-mode-toggle"></i></li>
			</ul>
		</nav>
		<div class="wrapper">
			<div class="card">
				<div class="title">
                    <p>PRIJAVA</p>
				</div>
				<div class="input-data">
					<form onsubmit="login(event, this)" action="/admin/prijava" method="POST">
						<div class="name">
							<input onkeyup="inputFilled(this, document.getElementById('label-name'))" type="text" name="name" required>
							<label onclick="document.querySelector('.name').getElementsByTagName('input')[0].focus();" id="label-name" for="name">Ime</label>
							<i id="error-name" class="fas fa-exclamation-circle"><label></label></i>
						</div>
						<br><br><br>
						<div class="pass">
							<input onkeyup="inputFilled(this, document.getElementById('label-pass'));" type="password" name="pass" required>
							<label onclick="document.querySelector('.pass').getElementsByTagName('input')[0].focus();" id="label-pass" for="pass">Lozinka</label>
							<i id="error-pass" class="fas fa-exclamation-circle"><label></label></i>
						</div>
						<br><br><br>
						<button type="submit">OK</button>
					</form>
				<p onclick="forgotPassword()" id="forgot-password">Zaboravljena lozinka?</p>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-left">
				Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
			</div>
			<div class="footer-right">
				Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	    function switchMode(){
            if(document.body.classList.contains('dark')){
                document.body.classList.remove('dark');
                document.cookie = '_mode=null; path=/';
            }else{
                document.body.classList.toggle('dark');
                document.cookie = '_mode=dark; path=/';
            }
        }
		window.onscroll = function() {stickyNav()};

		const nav = document.querySelector('nav'),
		sticky = nav.offsetTop;
			
		function stickyNav() {
		  if (window.pageYOffset >= sticky) {
			nav.classList.add('sticky')
		  } else {
			nav.classList.remove('sticky');
		  }
		}
		function inputFilled(input, label){
			if(input.value !== ''){
				label.style.top = '-25px';
			}else{
				label.style.top = '0';
			}
		}
		async function login(e, form){
			e.preventDefault();

			const formData = new FormData(form);
			const searchParams = new URLSearchParams();

			for(const pair of formData){
                searchParams.append(pair[0], pair[1]);
			}

			document.querySelector('.name').getElementsByTagName('label')[0].style.color = 'gray';
			document.getElementById('error-name').style.display = 'none';
			document.querySelector('.pass').getElementsByTagName('label')[0].style.color = 'gray';
			document.getElementById('error-pass').style.display = 'none';

			await fetch('/admin/prijava', {
				method: 'POST',
				body: searchParams
			}).then(res => res.json()).then((res)=>{
				if(res.error){
					document.querySelector(`.${res.error.id}`).getElementsByTagName('label')[0].style.color = 'red';
					document.getElementById(`error-${res.error.id}`).style.display = 'block';
					document.getElementById(`error-${res.error.id}`).getElementsByTagName('label')[0].innerText = res.error.title;
				}else window.location.href = res.path;
			});
		}
		async function forgotPassword(){
			const options = {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({partial: 'forgot'})
			}
			await fetch('/22072019', options).then(res => res.json()).then((res)=>{
				document.querySelector('.card').innerHTML = res.html;
                document.getElementById('css-partial').href = res.css;
			});
		}
		async function backToLogin(){
			const options = {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({partial: 'login'})
			}
			await fetch('/22072019', options).then(res => res.json()).then((res)=>{
				document.querySelector('.card').innerHTML = res.html;
				document.getElementById('css-partial').href = res.css;
			});
		}
		async function proceedTwoStep(e, form){
			e.preventDefault();

			const formData = new FormData(form);
			const searchParams = new URLSearchParams();

			for(const pair of formData){
                searchParams.append(pair[0], pair[1]);
			}

			await fetch('/admin/zaboravljena-lozinka', {
				method: 'POST',
				body: searchParams
			}).then(res => res.json()).then((res)=>{
				if(res.error){
					document.querySelector(`.${res.error.id}`).getElementsByTagName('label')[0].style.color = 'red';
					document.getElementById(`error-${res.error.id}`).style.display = 'block';
					document.getElementById(`error-${res.error.id}`).getElementsByTagName('label')[0].innerText = res.error.title;
				}else window.location.href = '/admin/zaboravljena-lozinka';
			});
		}
	</script>
</body>
</html>