<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin | Mesec Od Papira</title>
	<script type="text/javascript" src="js/fontawesome.js"></script>
	<link rel="shortcut icon" type="image/png" href="favicon/favicon.png">
	<style type="text/css">
		*{
    		margin: 0;
    		padding: 0;
    		box-sizing: border-box;
    		font-family: sans-serif;
		}
		html, body{
			position: relative;
			height: 100%;
		    background: #fafafa;
		}
		.container{
			display: block;
			position: relative;
			padding-bottom: 250px;
			min-height: 100vh;
			overflow: hidden;
		}
		a{
            cursor: pointer;
            text-decoration: none;
			font-size: inherit;
            color: inherit;
        }
        a:hover{
            color: #161616;
            transition: 0.25s;
        }
		.logo{
		    display: block;
		    min-height: 10px;
		    text-align: center;
		    letter-spacing: 5px;
		    font-family: Chalkduster, fantasy;
		    font-size: 20px;
		    background: rgb(22, 22, 22);
		    color: white;
		    animation: navLoad 0.5s ease-in;
		}
		.logo img{
		    cursor: pointer;
		    margin-top: 5px;
		    width: 100px;
		    height: 100px;
		    animation: navLoad 1s ease-in;
		}
		.logo h4{
		    cursor: pointer;
		}
		nav{
		    display: flex;
			position: relative;
		    height: 50px;
		    justify-content: space-around;
		    align-items: center;
		    font-family: Optima, sans-serif;
		    border-bottom: 1px solid #dcdcdc;
		    background: #ffffff;
		    animation: navLoad 0.5s ease-in;
		}
		.sticky{
			position: fixed;
			z-index: 10;
			top: 0;
			width: 100%;
		}
		.wrapper{
			position: relative;
			min-height: 100%;
		}
		.card{
    		position: relative;
			top: 50%;
    		left: 50%;
    		padding: 20px;
    		width: 450px;
    		transform: translate(-50%, 50%);
    		justify-content: center;
    		text-align: center;
    		line-height: 20px;
    		border: 1px solid #dcdcdc;
    		border-radius: 10px;
    		background: #ffffff;
    		color: #161616;
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    		animation: articleLoad 0.5s ease-in 0.5s;
    		animation-fill-mode: forwards;
    		opacity: 0;
    		transition: 0.5s;
		}
		.card input{
		    position: relative;
		    width: 175px;
		    height: 30px;
		    text-align: center;
		    border: 1px solid #dcdcdc;
		    background: #fafafa;
		    transition: 0.25s;
		}
		.card button{
		    cursor: pointer;
		    position: relative;
		    width: 175px;
		    height: 30px;
		    border: none;
		    background: #007bf6;
		    color: white;
		    transition: 0.25s;
		}
        .card input:hover{
            background: #dcdcdc;
			transition: 0.25s;
        }
        .card input:focus{
            background: #fafafa;
			border: 1px solid #007bf6;
			transition: 0.25s;
        }
		.footer{
            position: absolute;
            bottom: 0;
            padding-top: 20px;
            width: 100%;
            height: 50px;
            text-align: center;
            border-top: 1px solid #dcdcdc;
            background: #ffffff;
            color: #505050;
        }
        .footer-left{
            position: absolute;
            left: 15%;
        }
        .footer-right{
			display: flex;
            position: absolute;
            right: 15%;
        }
		.footer i{
			width: 20px;
			height: 100%;
			font-size: 20px;
		}
		@keyframes navLoad{
		    0%{
		        transform: translateY(-200%);
		    }
		    100%{
		        transform: translateY(0);
		    }
		}
		@keyframes headerLoad{
		    0%{
		        transform: translateY(-20px);
		        opacity: 0;
		    }
		    100%{
		        transform: translateY(0);
		        opacity: 1;
		    }
		}
		@keyframes articleLoad{
		    0%{
		        transform: translate(-50%, 45%);
		        opacity: 0;
		    }
		    100%{
		        transform: translate(-50%, 50%);
		        opacity: 1;
		    }
		}
		@media screen and (max-width: 1024px){
            .footer{
                height: 75px;
            }
    		.footer-left{
    		    left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				width: 400px;
    		}
    		.footer-right{
                position: relative;
				top: 25px;
 				left: 0; 
 				right: 0; 
 				margin-left: auto; 
 				margin-right: auto; 
 				width: 400px;
    		}
		}
		@keyframes navLinkFade{
		    from{
		        opacity: 0;
		        transform: translateX(50px);
		    }
		    to{
		        opacity: 1;
		        transform: translateX(0px);
		    }
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="logo">
			<img src="logo/mop.png" onclick="window.location.href = '/'">
			<h4 onclick="window.location.href = '/'">Mesec Od Papira</h4>
		</div>
		<nav>
			<h3><%= title %></h3>
		</nav>
		<div class="wrapper">
			<div class="card">
				<form action="/admin/prijava" method="POST">
					<input type="text" placeholder="Ime" name="name" required>
					<br><br><br>
					<input type="password" placeholder="Lozinka" name="pass" required>
					<br><br><br>
					<button type="submit">OK</button>
				</form>
			</div>
		</div>
		<div class="footer">
			<div class="footer-left">
				Copyright &copy;<script type="text/javascript">document.write(`&nbsp${new Date().getFullYear()}&nbsp`)</script><a href="/">Mesec Od Papira</a>
			</div>
			<div class="footer-right">
				Designed, developed and distributed by&nbsp;<a href="https://www.instagram.com/velickovicdj/" style="display: inherit;"><i class="fa fa-instagram"></i>velickovicdj</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.onscroll = function() {stickyNav()};

		const nav = document.querySelector('nav'),
		sticky = nav.offsetTop;
			
		function stickyNav() {
		  if (window.pageYOffset >= sticky) {
			nav.classList.add('sticky')
		  } else {
			nav.classList.remove('sticky');
		  }
		}
	</script>
</body>
</html>