<p style="color: #505050;"><%= securityQuestionQuestion %>?</p>
<input type="text" name="answer" autofocus>
<br><br><br><br>
<button type="submit">POTVRDI</button>
<% if(target.includes('dva')){ %>
	<script type="text/javascript">
		function proceedTwoStep(e, form){
			e.preventDefault();

			const options = {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					code: document.querySelector('.input-data').getElementsByTagName('input')[0].value
				})
			}
			fetch('/admin/dva-koraka', options).then(res => res.json()).then((res)=>{
				window.location.href = res.path;
			});
		}
	</script>
<% }else{ %>
	<script type="text/javascript">
		function proceedTwoStep(e, form){
			e.preventDefault();
			
			window.location.href = '<%= target %>'+document.querySelector('.input-data').getElementsByTagName('input')[0].value;
		}
	</script>
<% } %>