.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 800px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background: #ffffff;
    color: #161616;
    box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.5s;
}
.card .type{
    position: relative;
    left: 50%;
    margin-bottom: 25px;
    transform: translateX(-50%);
    width: 100px;
    height: 25px;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    overflow: hidden;
    transition: 0.25s;
}
.card .type:hover{
    background: #dcdcdc;
    transition: 0.25s;
}
.card .type::after{
    cursor: pointer;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    padding: 2px;
    content: '\25BC';
    font-size: 10px;
    color: #161616;
    transition: 0.25s all ease;
}
.card select{
    cursor: pointer;
    padding-left: 28px;
    width: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-size: 13px;
    outline: 0;
    border: 0!important;
    box-shadow: none;
    background: none;
    background-image: none;
}
.card select::-ms-expand{
    display: none;
}
.card label[for=title]{
    display: block; 
    margin-left: -340px;
}
.card .title{
    color: #161616;
    font-family: Optima, sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.card label[for=subtitle]{
    display: block; 
    font-size: 13px; 
    margin-top: 15px; 
    margin-bottom: -15px; 
}
.card .subtitle{
    color: black;
    font-size: 14px;
    margin: 15px 0;
}
.card label[for=body]{
    position: absolute;
    top: 485px;
    margin-left: -15px;
}
.card .body{
    padding: 10px;
    width: 100%;
    height: 250px;
    overflow: auto;
    font-size: 16px;
    color: #505050;
}
.card label[for=avatar]{
    display: block; 
}
.card .avatar p{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, 40%);
}
.card .avatar{
    position: relative;
    left: 50%;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: translateX(-50%);
    text-align: center;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    background: #fafafa;
    transition: 0.5s;
}
.card .avatar:hover{
    cursor: pointer;
    border: 2px solid #007bf6;
    background: #dcdcdc;
    transition: 0.25s;
}
.card .picture{
    position: relative;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.card input,
.card .body{
    position: relative;
    text-align: center;
    border: 1px solid #dcdcdc;
    background: #fafafa;
    transition: 0.25s;
}
.card input:hover,
.card .body:hover{
    background: #dcdcdc;
    transition: 0.25s;
}
.card input:focus,
.card .body:focus{
    background: #fafafa;
    border: 1px solid #007bf6;
    transition: 0.25s;
}
.card .submit{
    cursor: pointer;
    position: relative;
    width: 175px;
    height: 30px;
    border: none;
    font-size: 15px;
    background: #007bf6;
    color: white;
    transition: 0.25s;
}
.card .tool-list{
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}	
.card .tool--btn{
    display: block;
    border: none;
    padding: .5rem;
    font-size: 20px;
    background: #ffffff;
    color: #161616;
}
.card .tool--btn:hover{
    cursor: pointer;
    background: #dcdcdc;
    transition: 0.25s;
}
.card .comments-div{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 75px;
}
.card label[for=commentsEnabled]{
    position: relative;
    top: 3px;
    left: -100px;
    width: 200px;
}
.card input[type='checkbox']{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
}
.card input[type='checkbox']:hover{
    cursor: pointer;
    background: #dcdcdc;
    transition: 0.25s;
}
.card input[type='checkbox']:checked::after{
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "\2713";
    font-size: 20px;
    background: #007bf6;
    color: #ffffff;
    transition: 0.25s;
}
@media screen and (max-width: 1024px){
    .card{
        width: 90%;
        transition: 0.5s;
    }
    .card h3{
        margin-top: -75px;
    }
    .card .avatar{
        width: 150px;
        height: 150px;
        transition: 0.5s;
    }
    .card .avatar p{
        top: 30%;
        transform: translate(-50%, 30%);
    }
    .card .picture{
        width: 150px;
        height: 150px;
        transition: 0.5s;
    }
    .card [for=title]{
        margin-left: -230px;
    }
    .card .title{
        width: 100%;
    }
    .card .tool--btn{
        font-size: 18px;
    }
    .card label[for=body]{
        opacity: 0;
    }
    .card label[for=commentsEnabled]{
        left: -80px;
        font-size: 14px;
    }
    .card .submit{
        width: 100px;
        height: 50px;
    }
}