<input class="title" type="text" value="Kristina">
<div class="toolbar">
    <ul class="tool-list">
        <li class="tool">
            <button
                onclick="executeCommand(this)" 
                type="button" 
                data-command="bold" 
                class="tool--btn">
                <i class=' fas fa-bold'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command="italic"
                class="tool--btn">
                <i class=' fas fa-italic'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command="underline"
                class="tool--btn">
                <i class=' fas fa-underline'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command="insertOrderedList"
                class="tool--btn">
                <i class=' fas fa-list-ol'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command="insertUnorderedList"
                class="tool--btn">
                <i class=' fas fa-list-ul'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command='justifyLeft'
                class="tool--btn">
                <i class=' fas fa-align-left'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command='justifyCenter' 
                class="tool--btn">
                <i class=' fas fa-align-center'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command='justifyRight'
                class="tool--btn">
                <i class=' fas fa-align-right'></i>
            </button>
        </li>
        <li class="tool">
            <button 
                onclick="executeCommand(this)"
                type="button" 
                data-command="createlink" 
                class="tool--btn">
                <i class=' fas fa-link'></i>
            </button>
        </li>
    </ul>
</div>
<div class="body" contenteditable="true"><i>"Mesec, posle kog sam mnogo više ja.<br>
    Mesec, posle kog su svi drugi kao taj.<br>
    Želim da ti svaki bude, kao što je meni<br>
    mesec July."</i><br></div>
