    <h1>Kristina</h1>
    <p><i>"Mesec, posle kog sam mnogo više ja.<br>
        Mesec, posle kog su svi drugi kao taj.<br>
        Želim da ti svaki bude, kao što je meni<br>
        mesec July."</i><br>
    </p>
