
                <div class="title">
                    <i class="fas fa-lock"></i><p>Potvrdite svoj identitet da biste produžili sa resetovanjem vaše lozinke.</p>
                </div>
                <div class="input-data">
                    <form onsubmit="return proceedTwoStep(event, this);" action="" method="">
				    	<div class="name">
				    		<input onkeyup="inputFilled(this, document.getElementById('label-name'))" type="text" name="name" required>
				    		<label onclick="document.querySelector('.name').getElementsByTagName('input')[0].focus();" id="label-name" for="name">Ime</label>
				    		<i id="error-name" class="fas fa-exclamation-circle"><label></label></i>
				    	</div>
				    	<br><br><br>
				    	<div class="mail">
				    		<input onkeyup="inputFilled(this, document.getElementById('label-mail'));" type="text" name="mail" required>
				    		<label onclick="document.querySelector('.mail').getElementsByTagName('input')[0].focus();" id="label-mail" for="mail">Imejl</label>
				    		<i id="error-mail" class="fas fa-exclamation-circle"><label></label></i>
				    	</div>
				    	<br><br><br>
                        <button type="submit">DALJE</button>
                    </form>
                </div>
                <p onclick="backToLogin();" id="login">Prijava</p>
