<div class="subscribe-box">
    <div class="title">
        <p>Prijavite se za obaveštenja</p><i onclick="document.querySelector('.subscribe-box').style.transform = 'translateX(-200%)'; document.cookie = '_sub = false';" class="fas fa-times"></i>
    </div>
    <div class="input-data">
        <p>Primajte obaveštenja o najnovijim objavama.</p>
        <form onsubmit="signUpNotifications(event, this)" action="" method="">
            <div class="email">
                <input onkeyup="inputFilled(this, document.getElementById('label-email'));" type="text" name="email" required><br><br><br>
                <label onclick="document.querySelector('.email').getElementsByTagName('input')[0].focus();" id="label-email" for="email">Imejl adresa</label>
            </div>
            <i id="error-email" class="fas fa-exclamation-circle"><label id="error-email-label"></label></i>
            <button type="submit">Prijavi se</button>
        </form>
    </div>
</div>