.gear{
    position: absolute;
    top: 10px;
    left: 60%;
    width: 69%;
    height: 100px;
}
.gear img{
    cursor: pointer;
    position: relative;
    width: 35px;
    height: 35px;
}
.settings{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
    width: 200px;
    height: 50px;
    text-align: center;
    color: #161616;
}
.settings button{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 175px;
    height: 30px;
    background: #ffffff;
    border: #dcdcdc;
    border-radius: 10px;
    font-size: 20px;
    color: #161616;
    transition: 0.25s;
}
.settings button:hover{
    background: #dcdcdc;
    transition: 0.25s;
}
.blur{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    border-radius: 10px;
    background: rgba(22, 22, 22, 0.8);
}
