.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 600px;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-family: poppins, sans-serif;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    background: #ffffff;
    color: #161616;
    box-shadow: 0 5px 10px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.20);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: 0.5s;
}
.card h1{
    letter-spacing: 2px;
    line-height: 48px;
    font-family: Optima, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #dcdcdc;
    color: #505050;
}
.card p{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px;
    color: #505050;
}
.card i{
    position: absolute;
    right: 60px;
    cursor: pointer;
    font-size: 28px;
}
.card .accept-2step{
    border-bottom: 1px solid #dcdcdc;
}
.accept-2step p{
    margin: 0;
    margin-left: 90px;
    font-size: 15px;
    line-height: 25px;
}
.accept-2step i{
    font-size: 22px;
}
.card .input-data{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 90px;
    width: inherit;
    text-align: center;
}
.input-data .question{
    position: relative;
    left: 0;
}
.input-data .answer{
    position: relative;
    left: 50px;
}
.question input{
    position: absolute;
    left: 0;
}
.answer input{
    position: absolute;
}
.input-data input{
    position: relative;
    padding: 5px;
    width: 150px;
    height: 30px;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    color: #505050;
    transition: all 0.5s ease;
}
.input-data input:focus{
    outline: none;
    border-bottom: 1px solid #505050;
}
.input-data label{
    cursor: text;
    position: absolute;
    top: -25px;
    left: 0;
    padding: 5px;
    font-size: 12px;
    color: gray;
}
.card #changePass:hover{
    cursor: pointer;
    color: #161616;
    transition: 0.25s;
}
@media screen and (max-width: 1024px){
    .card{
        width: 90%;
    }
    .question, .answer{
        width: 15%;
    }
    .input-data input{
        width: 100%;
    }
}