.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 450px;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-family: poppins, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--card-background);
    color: var(--txt-color);
    box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    transition: all 0.5s ease-in-out;
}
.card .title{
    position: relative;
    margin-top: 40px;
    width: 90%;
    text-align: center;
    letter-spacing: 2px;
    font-family: Optima, sans-serif;
    font-size: 52px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    color: var(--txt-color);
    animation-fill-mode: forwards;
    transition: all 0.25s ease-in-out;
}
.card .body{
    position: relative;
    margin-bottom: 30px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: transparent;
    color: var(--p-color);
    transition: all 0.25s ease-in-out;
}
.card .body > *[style]{
    background: transparent !important;
}
.card .body:hover{
    background: var(--body-background);
    transition: all 0.25s ease-in-out;
}
.card .title:focus{
    border-bottom: 1px solid var(--p-color);
    outline: none;
    transition: all 0.25s ease-in-out;
}
.card .body:focus{
    border: 1px solid var(--p-color);
    outline: none;
    background: var(--body-background);
    transition: all 0.25s ease-in-out;
}
.card .tool-list{
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}	
.card .tool--btn{
    display: block;
    border: none;
    padding: .5rem;
    font-size: 20px;
    background: var(--card-background);
    color: var(--txt-color);
    transition: all 0.5s ease-in-out;
}
.card .tool--btn:hover{
    cursor: pointer;
    background: var(--border-color);
    transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 1024px){
    .card{
        width: 90%;
    }
    .card .title{
        font-size: 50px;
    }
    .card .body{
        font-size: 14px;
    }
}