.card{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 600px;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-family: poppins, sans-serif;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--card-background);
    color: var(--txt-color);
    box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.card h1{
    letter-spacing: 2px;
    line-height: 48px;
    font-family: Optima, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid var(--border-color);
    color: var(--p-color);
}
.card p{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 26px;
    color: var(--p-color);
}
.card i{
    position: absolute;
    right: 60px;
    cursor: pointer;
    font-size: 28px;
}
.accept-notifications p{
    margin: 0;
    margin-left: 90px;
    font-size: 15px;
    line-height: 25px;
}
.accept-notifications{
    border-bottom: 1px solid var(--border-color);
}
.accept-notifications i{
    font-size: 22px;
}
.accept-notifications input{
    position: relative;
    left: 60px;
    padding: 5px;
    width: 200px;
    height: 25px;
    font-size: 15px;
    font-family: poppins, sans-serif;
    border: none;
    border-bottom: 1px solid var(--border-color);
    background: transparent;
    color: var(--p-color);
}
.accept-notifications input:focus{
    outline: none;
    border-bottom: 1px solid var(--p-color);
    transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 1024px){
    .card{
        width: 100%;
        border-radius: 0;
        transition: all 0.25s ease-in-out;
    }
    .accept-notifications input{
        width: 40%;
    }
} 