 <ul class="links" style="width: 700px;">
            <li><a href="/admin/objavi">Objavi</a></li>
            <li><a href="/">PoÄetna</a></li>
            <li><a href="/poezija">Poezija</a></li>
            <li><a href="/o-meni">O meni</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>