 <ul class="links" style="width: 700px;">
            <li><a href="/admin/mejl">Mejl</a></li>
            <li><a href="/">PoÄetna</a></li>
            <li><a href="/poezija">Poezija</a></li>
            <li><a href="/o-meni">O meni</a></li>
            <li><a href="/admin/">Admin</a></li>
            <li onclick="switchMode();" style="position: absolute; right: 70px"><i class="fas fa-adjust" id="dark-mode-toggle"></i></li>
        </ul>