
                <div class="settings">
                    <form onsubmit="return aboutEdit(event);" action="/admin/uredi" method="GET"><button type="submit" name="e" value="about">Uredi</button></form>
                </div>
                <div class="blur"></div>