@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins/poppins-regular-webfont.woff'),
        url('/fonts/poppins/poppins-regular-webfont.woff2');
    font-style: normal;
    font-weight: 100;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
}
body{
    --body-background: #fafafa;
    --nav-background: #ffffff;
    --card-background: var(--nav-background);
    --border-color: #dcdcdc;
    --txt-color: #161616;
    --p-color: #505050;
    position: relative;
    background: var(--body-background);
    transition: all 0.5s ease-in-out;
}
body.dark{
    --body-background: #161616;
    --nav-background: #000000;
    --border-color: #505050;
    --txt-color: #ffffff;
    --p-color: #fafafa;
    --shadow-color: rgba(96, 96, 96, 0.20);
}
.container{
    display: block;
    position: relative;
    padding-bottom: 250px;
    min-height: 100vh;
    overflow: hidden;
}
a{
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}
a:hover{
    color: var(--txt-color);
    transition: all 0.25s ease-in-out;
}
.logo{
    display: block;
    min-height: 10px;
    text-align: center;
    letter-spacing: 5px;
    font-family: Chalkduster, fantasy;
    font-size: 18px;
    background: rgb(22, 22, 22);
    color: white;
    animation: navLoad 0.5s ease-in;
}
.logo img{
    cursor: pointer;
    margin-top: 5px;
    width: 100px;
    height: 100px;
    animation: navLoad 1s ease-in;
}
.logo h4{
    cursor: pointer;
}
nav{
    display: flex;
    position: relative;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    font-family: Optima, sans-serif;
    border-bottom: 1px solid var(--border-color);
    background: var(--nav-background);
    animation: navLoad 0.5s ease-in;
    transition: all 0.5s ease-in-out;
}
.sticky{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}
#dark-mode-toggle{
    cursor: pointer;
    position: relative;
    top: 6px;
    font-size: 25px;
    transition: all 0.25s ease;
}
.search{
    position: absolute;
    top: 12px;
    left: 70px;
    font-family: poppins, sans-serif;
}
.input{
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    padding-left: 25px;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid var(--txt-color);
    border-radius: 50%;
    outline: none;
    background: var(--body-background);
    color: var(--txt-color);
    transition: all 0.25s ease-in-out;
}
.inputClicked{
    cursor: text;
    width: 20vw;
    padding-left: 5px;
    border: 1px solid var(--border-color);
    border-radius: 0;
    transition: all 0.25s ease-in-out;
}
.searchBtn{
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    width: 20px;
    height: 10px;
    border: none;
    outline: none;
    background: none;
}
.searchBtn::before{
    position: absolute;
    top: 24px;
    right: -29px;
    width: 8px;
    height: 2px;
    content: "";
    background: var(--txt-color);
    transform: rotate(45deg);
    transition: all 0.25s ease-in-out;
}
.close::before, .close::after{
    position: absolute;
    top: 12px;
    left: 20vw;
    width: 15px;
    height: 2px;
    content: "";
    background: var(--txt-color);
    transition: all 0.25s ease-in-out;
}
.close::before{
    transform: rotate(-45deg);
}
.close::after{
    transform: rotate(45deg);
}
.links{
    display: flex;
    width: 500px;
    text-transform: uppercase;
    justify-content: space-around;
}
.links li{
    cursor: default;
    list-style-type: none;
    letter-spacing: 2px;
    line-height: 48px;
    font-size: 13px;
    font-weight: bold;
    color: var(--txt-color);
}
.links a{
    display: block;
    text-decoration: none;
    letter-spacing: 3px;
    line-height: 48px;
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    color: var(--txt-color);
}
.links a:hover{
    border-bottom: 1px solid var(--txt-color);
}
.mobile{
    display: none;
    position: relative;
    left: 26%;
    cursor: pointer;
}
.mobile div{
    margin: 5px;
    width: 25px;
    height: 2px;
    background: var(--txt-color);
    transition: all 0.25s ease-in-out;
}
.input::placeholder{
    opacity: 0;
}
.input:focus::placeholder{
    opacity: 1;
}
.search-card{
    position: relative;
    top: 50%;
    left: 50%;
    margin-bottom: 50px;
    padding: 20px;
    width: 450px;
    transform: translate(-50%, 50%);
    justify-content: center;
    text-align: center;
    line-height: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background: var(--card-background);
    color: #161616;
    box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
    animation: articleLoad 0.5s ease-in 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: all 0.25s ease;
}
.search-card p{
    position: relative;
    padding: 10px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 18px;
    color: var(--p-color);
}
.search-card button{
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    width: 175px;
    height: 30px;
    border: none;
    font-size: 14px;
    background: #007bf6;
    color: white;
}
.search-results{
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    top: 25px;
    width: 20vw;
    z-index: 10;
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    background: var(--card-background);
    color: var(--p-color);
    transition: all 0.25s ease-in-out;
}
.search-results tr{
    height: 30px;
    border-bottom: 1px solid var(--border-color);
}
.search-results tr:hover{
    background: var(--body-background);
    transition: all 0.25s ease-in-out;
}
.search-results a{
    display: block;
    position: relative;
    left: 0;
    padding: 5px;
    color: var(--p-color);
}
.search-results img{
    position: relative;
    width: 30px;
    height: 30px;
}
.scroll-toggle{
    cursor: pointer;
    display: flex;
    position: absolute;
    bottom: 70px;
    right: 40px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    background: var(--card-background);
    box-shadow: 0 5px 10px var(--shadow-color), 0 1px 3px var(--shadow-color);
}
.scroll-toggle i{
    position: relative;
    font-size: 25px;
    color: var(--p-color);
    transition: all 0.25s ease-in-out;
}
.scroll-toggle:hover{
    transform: translateY(-3px);
    transition: all 0.25s ease-in-out;
}
@keyframes navLoad{
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes headerLoad{
    0%{
        transform: translateY(-20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes articleLoad{
    0%{
        transform: translate(-50%, 45%);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}
@media screen and (max-width: 1024px){
    .search{
        left: 19%;
    }
    .search-card{
        width: 70%;
        transition: all 0.25s ease-in-out;
    }
    .inputClicked{
        width: 61vw;
        z-index: 10;
        transition: all 0.25s ease-in-out;
    }
    .search-results{
        width: 61vw;
        transition: all 0.25s ease-in-out;
    }
    .close::before, .close::after{
        left: 60vw;
        z-index: 10;
    }
    .links{
        display: flex;
        position: absolute;
        z-index: 10;
        flex-direction: column;
        top: 49px;
        right: 0px;
        left: 50%;
        height: 500px;
        border: 1px solid #dcdcdc;
        background: #ffffff;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .links li{
        opacity: 0;
        margin-left: 60px;
    }
    .links a{
        line-height: 0;
    }
    .links a:hover{
        border: none;
    }
    .mobile{
        display: block;
    }
    .linksActive{
        transform: translateX(0%);
    }
    .scroll-toggle{
        display: none;
    }
    #dark-mode-toggle{
        display: none;
    }
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}