<% for(let i=0; i<posts.length; i++){ %>
    <tr><td><a href="poezija/<%= posts[i].slug %>"><img src="<%- posts[i].picture %>"></a></td><td><a href="/poezija/<%= posts[i].slug %>"><%= posts[i].title %></a></td></tr>
<% } %>